/* Header Style  */
.banner-img {
    filter: brightness(40%);
}
.carousel-text  {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -40%;
}

/* Header Banner Responive for small device  */
@media only screen and (max-width:576px) {
   .banner-img {
    width: 400px;
    height: 330px;
   } 
   .carousel-text {
    width: 274px;
    height: 184px;
    margin-top: -30px;
   }
   .carousel-text h5 {
    font-size: 18px;
   }
   .carousel-text p {
    font-size: 12px;
   }
   .carousel-text button {
    font-size: 16px;
   }
}